@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
  background: #FFE3D8;
}

.container {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 400px;
  height: 400px;
}

.logo {
  position: absolute;
  bottom: -70px;
  width: 50%;
  left: 25%;
}